<div class="product-content">
    <div class="float-lf">
        <table class="product-content-img">
            <tr>
                <td>
                    <img alt="" src="::pathImg::">
                </td>
            </tr>
        </table>
    </div>

    <div class="float-rg">
        <table class="product-content-desc">
            <tr>
                <td>
                    <h1>::name::</h1>

                    <p>
                        ::description::
                    </p>

                    <a class="product-btn" href="::linkProduct::">Saiba +</a>
                </td>
            </tr>
        </table>
    </div>
</div>